<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="./app/images/bosch-logo.jpg" alt="Mountain View" style="width: 120px;
    height: 58px;
    margin-top: -23px;
    margin-left:-17px;"></a>
</div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Add Product <span class="sr-only">(current)</span></a></li>
    <li><a href="#">View Product</a></li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
  <li><span class="glyphicon glyphicon-shopping-cart btn-lg" style="color:white">10</span> </li>
  <li><span class="glyphicon glyphicon-user btn-lg" style="color:white"></span></li>
  <li><span  style="color:white;">Hello! Admin </span></li>
    
     <li>
       <span class="glyphicon glyphicon-log-out btn-lg" style="color:white" (click)="logout()"></span>
     </li>
  </ul>


</div>

</div>
</nav>